<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>NGO Metrics</h2>
        </header>
        <p>非營利組織 <strong>指標數據</strong>模版
        <br />
        資訊儀表板
        <br />
        by <a href="https://twngo.xyz">twngo.xyz</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Coming soon</a></li>
            </ul>
        </footer>

    </div>

</section>
